{% extends 'menu.html' %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-start pt-24 bg-gradient-to-br from-blue-50 to-blue-100">
  
  <h1 class="text-4xl font-bold text-blue-900 mb-12 text-center">
    Bem-vindo à Farmácia Escola
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-8 max-w-7xl w-full">
    
    <!-- Card Pacientes -->
    <div class="bg-white rounded-2xl shadow-md p-8 hover:shadow-lg transform hover:-translate-y-2 transition">
      <h2 class="text-2xl font-semibold text-blue-700 mb-4 text-center">Pacientes</h2>
      <p class="text-gray-600 mb-6 text-center">Visualizar e gerenciar os pacientes registrados no sistema.</p>
      <div class="flex justify-center">
        <a href="/listagem_pacientes/paciente_list" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition">
          Acessar Pacientes
        </a>
      </div>
    </div>

    <!-- Card Consultas -->
    <div class="bg-white rounded-2xl shadow-md p-8 hover:shadow-lg transform hover:-translate-y-2 transition">
      <h2 class="text-2xl font-semibold text-blue-700 mb-4 text-center">Consultas</h2>
      <p class="text-gray-600 mb-6 text-center">Adicionar ou visualizar consultas dos pacientes.</p>
      <div class="flex justify-center">
        <a href="#" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition">
          Acessar Consultas
        </a>
      </div>
    </div>

    <!-- Card Relatórios -->
    <div class="bg-white rounded-2xl shadow-md p-8 hover:shadow-lg transform hover:-translate-y-2 transition">
      <h2 class="text-2xl font-semibold text-blue-700 mb-4 text-center">Relatórios</h2>
      <p class="text-gray-600 mb-6 text-center">Gerar relatórios de pacientes e consultas.</p>
      <div class="flex justify-center">
        <a href="/relatorios/dashboard/" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition">
          Acessar Relatórios
        </a>
      </div>
    </div>

    <!-- Card Criar Novo Usuário - Só para Farmacêutico -->
    {% if tipo_usuario == 'farmaceutico' %}
    <div class="bg-white rounded-2xl shadow-md p-8 hover:shadow-lg transform hover:-translate-y-2 transition">
      <h2 class="text-2xl font-semibold text-green-700 mb-4 text-center">Gerenciar Usuários</h2>
      <p class="text-gray-600 mb-6 text-center">Gerenciar usuários no sistema.</p>
      <div class="flex justify-center">
        <a href="{% url 'listar_usuarios' %}" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full transition">
          Gerenciar Usuários
      </a>
      </div>
    </div>
    {% endif %}

  </div>

  <footer class="text-center text-gray-500 text-sm mt-16 pb-6">
    &copy; 2025 Farmácia Escola. Todos os direitos reservados.
  </footer>

</div>
{% endblock %}
